<div uploader="uploader" filters="queueLimit, customFilter,testFilters"><!--自定义过滤器-->
    <div class="container">
        <div class="row">
            <div>
                <h3>Select files</h3>
                Single
                <input type="file" nv-file-select="" uploader="uploader"/>
            </div>
            <!--uploader.queue[0] 是上传队列,uploader.queue是一个数组,uploader.queue[0]代表第一个文件-->
            <br>
            <button type="button" class="btn btn-success btn-xs" ng-click="uploader.queue[0].upload()" ng-disabled="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
            <button type="button" class="btn btn-warning btn-xs" ng-click="uploader.queue[0].cancel()" ng-disabled="!uploader.queue[0].isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="uploader.queue[0].remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
        </div>
    </div>
</div>