<!--modal : angular bootstrap 弹窗 模态框-->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul>
            <li ng-repeat="item in $modalCtrl.items">
                <a href="#" ng-click="$event.preventDefault(); $modalCtrl.selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ $modalCtrl.selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$modalCtrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$modalCtrl.cancel()">Cancel</button>
    </div>
</script>
<div style="display: flex;justify-content: center; align-items: center;height: 500px;">
    <button type="button" class="btn btn-default" ng-click="$ctrl.open('sm')">小模态框</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.open('large')">大模态框</button>
</div>
